.content {
    display: flex;
    flex-direction: row;
    justify-content: center
}

div.contacts_delivery_content > article {
    margin: 10px
}

div.contacts_delivery_content > article > header {
    font-weight: bolder;
    font-size: 24px;
    font-family: Arial;
}

div.contacts_delivery_content > article > div.email {
    display: flex;
    flex-direction: column;
}

div.contacts_delivery_content > article > div.email > a {
    margin-top: 15px;
    text-decoration: none;
    color: white;
    border: 1px solid blueviolet;
    padding: 12px;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    background-color: blueviolet;
}

div.contacts_delivery_content > article:last-child > header {
    font-weight: bolder;
    font-size: 24px;
    font-family: Arial;
    padding-bottom: 10px;
    text-align: center;
}

div.contacts_delivery_content > article:last-child > p {
    font-family: Arial;
}

div.contacts_delivery_content > article:last-child > div.map {
    border: 3px solid blueviolet;
}

section.info_menu > div.info_menu_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section.info_menu > div.info_menu_content > article {
    margin: 10px;
    border: 3px solid blueviolet;
    padding: 10px;
    font-family: Arial;
}

section.info_menu > div.info_menu_content > article > header {
    text-align: center;
    font-weight: bolder;
}

section.info_menu > div.info_menu_content > article > ul {
    list-style-type: none;
    margin-right: 50px;
}

