.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section > h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-family: Arial;
    margin-top: 60px;
    margin-bottom: 60px;
}

section.info_about_delivery {
    background-color: blueviolet;
}

div.info_about_delivery_content > article > header {
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bolder;
    color: white;
}


div.contacts_delivery_content > article {
    margin: 10px
}

div.contacts_delivery_content > article > header {
    font-weight: bolder;
    font-size: 24px;
    font-family: Arial;
}

div.contacts_delivery_content > article > div.email, div.btn {
    display: flex;
    flex-direction: column;
}

div.contacts_delivery_content > article > div.email > a, div.btn > a {
    margin-top: 15px;
    text-decoration: none;
    color: white;
    border: 1px solid blueviolet;
    padding: 12px;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    background-color: blueviolet;
}

div.contacts_delivery_content > article:last-child > header {
    font-weight: bolder;
    font-size: 24px;
    font-family: Arial;
    padding-bottom: 10px;
    text-align: center;
}

div.contacts_delivery_content > article:last-child > p {
    font-family: Arial;
}

div.contacts_delivery_content > article:last-child > div.map {
    border: 3px solid blueviolet;
}

section.info_menu > div.info_menu_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section.info_menu > div.info_menu_content > article {
    margin: 10px;
    border: 3px solid blueviolet;
    padding: 10px;
    font-family: Arial;
}

section.info_menu > div.info_menu_content > article > header {
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
}

section.info_menu > div.info_menu_content > article > div.header_img > img {
    width: 175px;
    height: 175px;
}

section.info_menu > div.info_menu_content > article > ul {
    list-style-type: none;
    margin-right: 50px;
}

/*section.info_menu > div.info_menu_content > article > ul > li > div.menu_table {*/
section.info_menu > div.info_menu_content > article > div.menu_table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section.info_menu > div.info_menu_content > article > div.menu_content > p {
    color: blueviolet;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

section.info_payments > div.info_payments_content > article > header {
    font-family: Arial;
    text-transform: uppercase;
}
